html, body {
  overflow-x: hidden;
}

body {
  font-family: "Lustria", Helvetica, Arial, sans-serif;
  color:#333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

/* GRID */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear:both;
}

.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

@media (min-width: 100px) {
  .one-fourth > img {
  height: 250px;
  width: 350px;
 }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  header .one-half {
    width: 46%;
  }
}


@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .one-half {
    width: 46%;
  }

  .one-half.pull-right {
    float:right;
  }

  .one-half.pull-left {
    float: left;
  }

  .one-half > img {
    width: 100%; 
    height: auto;
    overflow: hidden;
  }

  .one-half.text {
    margin: 50px auto 0px;
    width: 46%;
  }


  .one-third {
    width: 29.3333%;
  }

  .one-fourth {
    width: 21%;
  }

  .full-width {
    max-width: 940px;
    padding: 50px;
  }
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}

/* HEADER */
header{
  color: #FFFFFF;
  background-image: linear-gradient(-209deg, #0C5069 0%, #1380A8 100%);
}

header nav {
  padding: 1em 0;
  font-family: "Quicksand";
}

header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
}

header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

header nav ul > li.btn-outline:hover {
  background: #FFFFFF;
}

header nav ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color: #34495E;
}

header .hero {
  text-align: left;
  display: block;
  position: relative;
}

header .hero h1 {
  font-size: 32px;
  font-weight: normal;
  margin: 95px 0 0;
}

header .hero p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 10px 0 40px;
  width: 80%;
}

header .hero img {
  display: block;
  margin: 3em auto;
  width: 100%;
  max-height: 100%;
  position: relative;
  left: -40px;
}

/* BUTTONS */

.btn {
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  background: #13A886;
  box-shadow: 0px 2px 4px 0px #000000;
  font-family: "Quicksand";
}

 /* BENEFITS */
 .benefits {
   text-align: center;
   display: block;
   position: relative;
 }
 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }

  /* PRICING */
 .pricing {
   text-align: center;
   margin-top: -50px;
 }

 .pricing ul {
   margin: 0 auto;
   padding: 2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }

  .box {
   padding: 0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }

 .box.middle {
   min-height: 485px;
   margin-top: 0px;
 }
 .box h3 {
   font-family: "Quicksand", Helvetica, Arial, sans-serif;
   background: #E2E2E2;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left: 0;
   right: 0;
   top: 0;
   text-align: center;
   margin: 0 -15px 40px;
   padding: 20px 0;
   font-size: 25px;
 }

 .box h4 {
   font-size:50px;
   font-weight: 400;
   margin:40px 0 10px;
   color:#1380A8;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Quicksand", Helvetica, Arial, sans-serif;
   color:#1380A8;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-top: -10px;
   margin-bottom:20px;
   font-weight: 100;
   line-height: 35px;
 }

  .box .btn {
   position: absolute;
   bottom: 40px;
   left: 55px;
   right: 55px;
 }

/* FOOTER */
 footer {
   background-image: linear-gradient(-209deg, #0C5069 0%, #1380A8 100%);
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
   background: #072A38;
 }
 footer p, footer nav ul {
   font-size: 13px;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
}

 @media (min-width: 992px){
   footer{
     height: 100px;
   }

   footer p, footer nav ul {
     padding: 2em 0;
     text-align: left;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }


@media (max-width: 700px){

  .one-half {
      width: 98%;
    }

  .one-half ul {
    width: 50%;
  }

  header nav ul > li {
   margin: 0 2px;
  }

  header .hero p {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 10px auto 40px;
    width: 80%;
  }

  header .hero h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 25px auto 0;
    text-align: center;
  }

  header .hero .btn {
    display: block;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 30px;
    background: #13A886;
    box-shadow: 0px 2px 4px 0px #000000;
    font-family: "Quicksand";
    margin: 0 auto;
    text-align: center;
    width: 20%;
  }

  header .hero img {
    position: initial;
    }

  .full-width {
    margin-bottom: 100px;
  }

  .full-width img {
    width: 80%;
  }

  .full-width p {
    display: inline-block;
    width: 75%;
  }

  .site-logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
  }

  .one-half ul {
    display: inline-block;
    float: right;
    margin-top: -70px;
  }

  .full-width {
    margin-bottom: 50px;
  }

   footer{
   background: #072A38;
   height: 150px;
   }

   footer .one-third {
    margin: 0 auto;
    text-align: center;
   }

   footer .logo{
     margin: 10px auto 0;
     padding: 0;
   }
}

 /* DASHBOARD */
 .dashboard {
   background:#F7F7F7;
 }
 .left-nav {
   height: 100vh;
   width:127px;
   color:#FFFFFF;
   background-image: linear-gradient(-209deg, #1380A8 0%, #0C5069 100%);
   float:left;
   display:block;
 }
 .left-nav .site-logo {
   padding:20px 0;
   background:#0C5069;
   display:block;
   text-align: center;
 }

 .left-nav .site-logo img {
   padding:5px 3px 5px 0;
   margin: 0 auto;
   background:#0C5069;
   display:block;
   text-align: center;
   width: 75%;
 }

 .left-nav .items {
   padding: 5% 6% 0;
 }
 .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   display: block;
 }
 .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
   margin: 10px auto 15px;
   display: block;
   text-align: center;
   padding-bottom: 10px;
 }
 .left-nav .items ul li a i {
   width:25px;
   text-align: center;
   margin: 20px auto 12px;
   display: block;
   font-size: 1.5em;
 }

  /* LEFT NAVBAR SETTINGS */
 .left-nav .settings {
   position:absolute;
   background:#083242;
   width:127px;
   bottom:0;
   left:0;
   right:0;
   padding:10px 0;
 }
 .left-nav .settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }
 .left-nav .settings p {
   display: inline-block;
   vertical-align: top;
   padding-top: 11px;
   font-weight: 400;
   margin:0 0 0 7px;
 }


  /* CONTENT */
 #sidebar {
   margin: 0;
   width: 350px;
   position: relative;
   float: left;
   height: 100vh;
   overflow: scroll;
 }

 #sidebar .add-button {
    padding: 20px 60px;
 }

 .add-btn {
    margin: 0 auto;
    padding: 25px 0;
    font-weight: 500;
    display: block;
    text-align: center;
 }

 .add-btn i {
   width:16px;
   margin-right: 10px;
}

 .sample-board
 {  
    margin: 20px auto;
 }

 .sample-board .content-item
 {  
    width: 75%;
 }
 
 .content-item {
   width:100%;
   margin: 25px auto;
   display:block;
 }
 
 .item-box {
   width:100%;
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
 }
 .item-box-actions {
    display: none;
    width: 100%;
    background: #1380A8;
    color: #ffffff;
    height: 50px;
    margin: -35px 0;
}

  .example-note-icons {
    float:right;
    margin: 6%;
    font-size: 20px;
  }

  .item-box-actions .fa {
    margin: 0 2px;
  }

 .item-box p {
   font-family: Quicksand;
   font-size: 22px;
   display: block;
   margin: 30% 0;
   text-align: center;
   padding: 0 25%;
   line-height: 30px;
 }

/* Main Content */

.main-content {
    width:calc(100% - 477px); 
    margin-left: 477px;
    height: 100vh;
}

.note-icons {
    float: right;
    font-size: 22px;
    margin: 25px;
}

.note-icons i {
    margin: 4px;
    font-size: 22px;
}

.board-dropdown {
    display: inline-block;
    margin: 25px 25px 0;
}

.board-dropdown > p {
    font-family: Quicksand;
    display: inline-block;
}

.note-name {
    margin: 20px 25px;
    padding-top: 1px;
}

.tags {
    margin: 10px 25px;
}

.tags > p {
    display: inline-block;
    margin: 5px 5px;
    padding-top: 1px;
}

.date {
    font-family: Quicksand;
    margin: 20px 25px;
    padding-top: 1px;
}

.text-edit {
  border-radius: 4px;
  padding: 10px 10px;
  border: solid 1px #a5a5a5;
  margin: 0 20px;
  display: inline-block;
  
}

.text-edit i {
  margin: 2px 10px;
  color: #0C5069;
}

.note-text {
    display: inline-block;
    width: 72%;
    margin: 25px 25px 0 20px;
    line-height: 24px;
    padding-right: 15px;
}

.left-nav .items ul li .active {
    color: #0C5069;
    background-color: #eeeeee;
    padding-bottom: 15px;
    border: solid 1px;
}

/* MEDIA QUERIES */

 /* Larger Mobile Devices */
 @media (max-width:500px) {
   #sidebar {
    width: 245px;
    float:right;
    display: inline-block;
    margin-right: 10px;
   }
   #sidebar .add-button {
    padding: 20px 40px 10px;
  }
  .add-btn i {
    margin-right: 9px;
    margin-left: -10px;
  }
   .left-nav{
    display: inline-block;
    width: 110px;
  }
  .left-nav .site-logo {
    width: 110px;
    margin-top: 0;
    margin-bottom: 10px
  }
    .left-nav .settings {
    width: 110px;
  }
  .left-nav .settings p {
    margin: 0 0 0 2px;
  }
  .item-box {
    height: 175px;
  }

  .item-box p {
    height: 200px;
    font-size: 17px;
  }

 }

 /* Note content on mobile */


  @media (max-width:500px) {
   #sidebar {
  display: none
   }
   .left-nav{
    display: none;
    width: 110px;
    }
    .main-content {
      margin: 5px 0px 30px 30px;
      width: auto;
      overflow: scroll;
    }
    .note-text {
      width: 80%;
    }
}
